.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/content/react-js/super-over-league-sm-output.png');
  height: 100vh;
  background-size: cover;
}

@media (max-width: 767px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/content/react-js/super-over-league-sm-output.png');
    height: 100vh;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .background-container {
    background-image: url('https://assets.ccbp.in/frontend/content/react-js/super-over-league-lg-output.png');
    height: 100vh;
    background-size: cover;
  }
}
